<form role="form" [formGroup]="productForm">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="name">Product Name</label>
      <input type="text" class="form-control" formControlName="name" id="name" placeholder="Product Name">
      <div class="invalid-feedback" *ngIf="f.name.errors && f.name.touched || f.name.errors && isSubmitted">
        Name is required.
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="type">Product Type</label>
      <input type="text" class="form-control" formControlName="type" id="type" placeholder="Product Type">
      <div class="invalid-feedback" *ngIf="f.type.errors && f.type.touched || f.type.errors && isSubmitted">
        Product type is required.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="mfgDate">Manufacture Date</label>
      <input type="date" class="form-control" formControlName="manufacture_date" id="mfgDate" placeholder="Mfg Date">
      <div class="invalid-feedback"
        *ngIf="f.manufacture_date.errors && f.manufacture_date.touched || f.manufacture_date.errors && isSubmitted">
        Manufacture Date is required.
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="price">Price</label>
      <input type="text" class="form-control" formControlName="price" id="price" placeholder="Price"
        (keypress)="isNumber($event)" (input)="validateDecimalInputs($event, 6, 4)">
      <div class="invalid-feedback" *ngIf="f.price.errors && f.price.touched || f.price.errors && isSubmitted">
        Product price is required.
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="inputFile">Image</label>
    <input type="file" name="image" formControlName="image" class="form-control-file" accept='image/*'
     (change)="selectImage($event)" id="inputFile">
    <div class="invalid-feedback" *ngIf="(!isImageAdded && isSubmitted && !productData.new_image)">
      Please upload image.
    </div>
  </div>
  <div class="mb-3">
    <label for="description">Description</label>
    <input type="text" class="form-control" formControlName="description" id="description" placeholder="Description">
    <div class="invalid-feedback"
      *ngIf="f.description.errors && f.description.touched || f.description.errors && isSubmitted">
      Please enter product description.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 mb-4" *ngIf="productData && productData.new_image">
      <div class="fileimg_upload">
        <div class="fileimg-thmb">
          <img src="{{'data:image/png;base64,' + productData.new_image}}" alt="..." />
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-4">
  <button type="button" class="btn btn-secondary mr-4" (click)="clearForm()" *ngIf="productData.id == 0">Clear</button>
  <button type="submit" class="btn btn-primary" (click)="saveProductDetail()">Save</button>
</form>
